.header {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: var(--relative-size);
    &__search-container {
        height: 40px;
        margin-left: var(--relative-size);
    }
    &__search {
        background-color: var(--white-color);
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        height: 100%;
        padding: var(--relative-size);
    }
    &__input{
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border: none;
        height: 100%;
        padding: var(--relative-size);
        width: 100%;
    }
}

@media (min-width: 700px) {
    .header__search-container {
        width: 300px;
    }

}

@media (min-width: 900px) {
    .header {
        justify-content: space-evenly;
        &__search-container {
            width: 600px;
        }

    }
}

@media (min-width: 1200px) {
    .header__search-container {
        width: 900px;
    }

}
