.breadcrumb {
    margin: var(--relative-size) ;
    width: 80%;
}

.not-found-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.item {
    background-color: var(--white-light-color);
    border: .05px solid rgba(0,0, 0, .1);
    margin: var(--relative-size) auto;
    text-align: center;
    padding: var(--relative-size);
    width: 80%;
    &__image {
        border-radius: 4px;
        height: var(--images-small-size);
        margin: var(--relative-size);
        width: var(--images-small-size);
    }
    &__title {
        font-size: var(--subtitle-size);
        margin: calc(2 * var(--relative-size)) 0;
    }
}

.article {
    background-color: var(--white-light-color);
    text-align: center;
    padding: var(--relative-size);
    margin: 0 auto;
    width: 80%;
    &__image {
        height: var(--images-small-size);
        width: var(--images-small-size);
    }
    &__information {
        margin: calc(2*var(--relative-size)) auto;
        width: 90%;
    }
}


.description {
    margin: calc(2*var(--relative-size));
    &__title {
        font-size: var(--title-size);
        margin: calc(2*var(--relative-size)) 0;
    }
}

@media (min-width: 900px) {
    .information-container {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: var(--relative-size) auto;
        width: 80%;
    }    

    .article {
        background-color: var(--white-light-color);
        padding: var(--relative-size);
        &-container {
            align-items: flex-start;
            display: flex;
            justify-content: space-around;
        }
        margin: calc(2*var(--relative-size)) auto;
        width: 80%;
        &__information {
            margin: calc(2*var(--relative-size));
            width: 80%;
            &--small {
                font-size: var(--paragraph-size);
                margin-top: var(--relative-size) 0;
            }
            &--standard {
                font-size: var(--title-size);
                margin-top: var(--relative-size) 0;
            }
            &--big {
                font-size: var(--title-big-size);
                margin: calc(2*var(--relative-size)) 0;
            }
        }
    }

}


@media (min-width: 1020px) {
    .article__image {
            height: var(--images-big-size);
            width: var(--images-big-size);
    }
}