:root {
    --primary-color: #FFE600;
    --secondary-color: #3483FA;
    --black-color: #333;
    --black-light-color: #666;
    --gray-color: #999;
    --white-color: #eee;
    --relative-size: 16px;
    --title-big-size: 46px;
    --title-size: 24px;
    --subtitle-size: 18px;
    --paragraph-size: 14px;
    --images-small-size: 180px;
    --images-big-size: 680px;
}