:root {
    --primary-color: #FFE600;
    --secondary-color: #3483FA;
    --black-color: #333;
    --black-light-color: #666;
    --gray-color: #999;
    --white-color: #eee;
    --relative-size: 16px;
}