@import './variables';
@import './header';
@import './items';
@import './footer';
@import './utils';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li[role="list"] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--relative-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  text-align: center;
  margin: 32px;
  &__title {
    font-size: var(--title-big-size);
  }
  &__image {
    margin: calc(2 * var(--relative-size));
    width: 80%;
  }

  @media (min-width: 1200px) {
    .hero__image {
      width: 50%;
    }
  }
}